@model Web.Areas.Explorer.Models.AirportModel

@Html.DisplayFor(m => m.Airport)

<br />

@*<div class="row">
    <div class="col-xs-6">
        <h2>Arriving Flights</h2>
    </div>
</div>
@Html.DisplayFor(m => m.ArrivingFlights, new { PositionTo = "PositionTo", Flight = "Flight" })

<hr />

<h2>Departing Flights</h2>
@Html.DisplayFor(m => m.DepartingFlights, new { PositionTo = "PositionTo", Flight = "Flight" })*@
