@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Copyright 2018 &copy;Charles A. McCrobie
    <br/>
    <br/>
    Contact me at: <a href="mailto:mccrobie2000@gmail.com">mccrobie2000@gmail.com</a>
</address>
