@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    Chuck's Test Bed
</div>

<div class="row">
    <div class="col-xs-12">
        <a href="~/Explorer/Explorer">Airport Explorer</a>
    </div>
</div>